<div class="form-group">
  <div class="row">
    <div class="col-lg">
      <label for="search" i18n>Search user</label>
      <input type="text" class="form-control" id="search" [formControl]="search">
    </div>
    <div class="col custom-control custom-checkbox my-1 mr-sm-2 ml-5">
      <div class="row">
        <input type="checkbox" class="custom-control-input" id="doctorSelect" [formControl]="doctor">
        <label class="custom-control-label" for="doctorSelect" i18n>Doctor</label>
      </div>
      <div class="row">
        <input type="checkbox" class="custom-control-input" id="administratorSelect" [formControl]="administrator">
        <label class="custom-control-label" for="administratorSelect" i18n>Administrator</label>
      </div>
    </div>
  </div>
</div>
<div style="position: relative;">
  <ng-container *ngIf="showSpinner">
    <div class="search-result-area-loading"></div>
    <div style="margin-top: 32px" *ngIf="userList.length === 0"></div>
    <div class="spinner">
      <ihb-loading-spinner></ihb-loading-spinner>
    </div>
  </ng-container>
  <div class="table-responsive" *ngIf="userList.length">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" i18n>First Name</th>
        <th scope="col" i18n>Last Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList; let i = index; trackBy: trackUserResultsBy">
          <th scope="row">{{ offset + i + 1}}</th>
          <td><ngb-highlight [result]="user.firstName" [term]="search.value">{{user.firstName}}</ngb-highlight></td>
          <td><ngb-highlight [result]="user.lastName" [term]="search.value">{{user.lastName}}</ngb-highlight></td>
          <td><a routerLink="./{{user.userId}}"><button class="btn btn-primary" i18n>View</button></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-between p-2" *ngIf="userList.length">
  <ngb-pagination
    [(page)]="page"
    [pageSize]="limit"
    [collectionSize]="count"
    (pageChange)="fetchCurrentPage()"></ngb-pagination>
</div>
