<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <a routerLink="../" class="mr-3"><button class="btn btn-primary" i18n>Back</button></a>
    <button class="btn btn-danger float-right" (click)="openDeleteConfirmationModal()" i18n>Delete User</button>
  </div>
  <div class="card-body">
    <div class="form-group">
      <ihb-loading-spinner class="spinner-container" *ngIf="showSpinnerInfo"></ihb-loading-spinner>
      <ng-container *ngIf="infoHasLoad">
        <div class="row">
          <div class="col-lg mt-3">
            <label for="fullName" i18n>Full Name</label>
            <input type="text" class="form-control" id="fullName" readonly [formControl]="name">
          </div>
          <div class="col-lg mt-3">
            <label for="email" i18n>Email</label>
            <input type="text" class="form-control" id="email" readonly [formControl]="email">
          </div>
        </div>
        <div class="row">
          <div class="col-lg mt-3 custom-control custom-checkbox my-1 mr-sm-2 ml-5">
            <div class="row">
              <input type="checkbox" class="custom-control-input" id="doctorSelect" [formControl]="doctor">
              <label class="custom-control-label" for="doctorSelect" i18n>Check this in order to activate <b>doctor</b> authorization</label>
            </div>
            <div class="row">
              <input type="checkbox" class="custom-control-input" id="administratorSelect" [formControl]="administrator">
              <label class="custom-control-label" for="administratorSelect" i18n>Check this in order to activate <b>administrator</b> authorization</label>
            </div>
          </div>
        </div>
      </ng-container>
      <ihb-loading-spinner class="spinner-container" *ngIf="showSpinnerApp"></ihb-loading-spinner>
      <ng-template [ngIf]="applicationActive">
        <div class="row">
          <div class="col-lg mt-3" i18n>
            Doctor documents:<button class="btn btn-primary ml-1" id="doctorDocuments" (click)="download()">Download</button>
            <button class="btn btn-danger float-right" (click)="deleteApplication()">Delete doctor application</button>
          </div>
        </div>
        <ng-template [ngIf]="progressBar">
          <div class="row">
            <div class="col-lg mt-3">
              <ngb-progressbar type="success" [value]="downloadProgress" [striped]="true" [animated]="true"></ngb-progressbar>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
