<div class="card text-center">
  <div class="signin-header">
    <h1 class="h3 mb-3 font-weight-normal" i18n>Please sign in</h1>
    <hr>
  </div>
  <form class="form-signin" [formGroup]="form" (submit)="onSubmit()">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="sr-only" i18n>Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" formControlName="email" i18n-placeholder>
        <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('required')" i18n>Please provide an email.</div>
        <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('email')" i18n>Please provide a valid email.</div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only" i18n>Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" formControlName="password" i18n-placeholder>
      </div>
      <p
        class="text-danger"
        style="text-align: center; font-size: 0.8rem"
        *ngIf="form.hasError('invalidCredentials')"
        i18n>
        Invalid credentials. Try again!
      </p>
      <p
        class="text-danger"
        style="text-align: justify;"
        *ngIf="form.hasError('unverified')"
        i18n>
        Your account is not verified. We have sent you an email with instructions on how to activate your account.
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" i18n>Sign In</button>
    </fieldset>
  </form>
  <hr>
  <div class="card-bottom">
    <span i18n>Don't have an account? <a routerLink="../register">Register</a></span>
    <div>
      <a routerLink="../forgot-password" i18n>Forgot password?</a>
    </div>
  </div>
</div>

<ng-template #successVerifyToast i18n>
  You have been verified successfully. You can now login.
</ng-template>

<ng-template #failVerifyToast i18n>
  The verification link has expired. Please try logging in and you will receive a new email if necessary.
</ng-template>
