<div style="position: relative;">
  <ng-container *ngIf="showSpinner">
    <div class="search-result-area-loading"></div>
    <div style="margin-top: 32px" *ngIf="list.length === 0"></div>
    <div class="spinner">
      <ihb-loading-spinner></ihb-loading-spinner>
    </div>
  </ng-container>
  <div class="table-responsive" *ngIf="list.length">
    <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" i18n>First Name</th>
        <th scope="col" i18n>Last Name</th>
        <th scope="col" i18n>Date & Time</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of list; let i = index">
        <th scope="row">{{ offset + i + 1 }}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.createdTime | date: 'short'}}</td>
        <td><a routerLink="./{{item.userId}}"><button class="btn btn-primary" i18n>Read</button></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-between p-2" *ngIf="list.length">
  <ngb-pagination
    [collectionSize]="count"
    [(page)]="page"
    [pageSize]="limit"
    (pageChange)="fetchCurrentPage()">
  </ngb-pagination>
</div>
