<label for="recommendedVaccinations"><b>Recommended vaccinations<sup>1</sup></b></label>
<ihb-recommended-vaccinations></ihb-recommended-vaccinations>
<div class="mt-4">
  <ihb-extra-vaccinations></ihb-extra-vaccinations>
</div>
<hr/>
<div>
  <label for="footnotes"><b>Footnotes</b></label>
  <p id="footnotes">
    1. <a target="_blank"
          href="https://vaccine-schedule.ecdc.europa.eu/Scheduler/ByCountry?SelectedCountryId=82&IncludeChildAgeGroup=true&IncludeChildAgeGroup=false&IncludeAdultAgeGroup=true&IncludeAdultAgeGroup=false">
    Greece: Recommended vaccinations
  </a>
  </p>
</div>
