<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1>Settings</h1>
  </div>
  <div class="card-body">
    <h3>Change Password</h3>
    <form [formGroup]="passwordForm" (submit)="onPasswordSubmit()">
      <div class="form-group">

        <div class="form-group">
          <label for="oldPassword">Type the old password</label>
          <input type="password" class="form-control" id="oldPassword" autocomplete="old-password"
            placeholder="Old Password" formControlName="oldPassword">
          <p class="text-danger" *ngIf="passwordForm.hasError('invalidCredentials')">Wrong Password</p>
        </div>

        <div class="form-group">
          <label for="password">Type the new password</label>
          <input type="password" class="form-control" id="password" autocomplete="new-password"
            placeholder="New Password" formControlName="password">
        </div>
        <div class="form-group">
          <label for="retypePassword">Retype the new password</label>
          <input type="password" class="form-control" id="newPassword" autocomplete="new-password"
            placeholder="New Password" formControlName="newPassword"
                  [ngClass]="{'is-invalid': isNotSamePassword()}">
          <div class="invalid-feedback">The password is not the same.</div>
        </div>

        <div class="row">
          <div class="col-lg mt-2">
            <a><button type="submit" class="btn btn-primary" (submit)="onPasswordSubmit()">Save</button></a>
          </div>
        </div>
      </div>
    </form>
    <hr/>
    <h3>Ask for doctor authorization</h3>
    <ng-container *ngIf="applicationActive then thenBlock else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <p>Upload all the necessary files in order to get a doctor account.<br>
        You should upload a zip folder which contains all your files that you want to upload.<br>
        Other folder formats will not be accepted.</p>
      <form [formGroup]="uploadForm" (submit)="onUploadSubmit()">
        <div class="form-group">
          <div class="row">
            <div class="col-lg">
              <div class="custom-file">
                <input type="file" class="form-control-file" id="customFile"
                       formControlName="file" accept=".zip" (change)="upload($event)">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid">Upload</button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #elseBlock>
      <p>You have sent an application.</p>
    </ng-template>
    <hr/>
    <h3>Delete your account</h3>
    <p>All your personal information will be delete from our database.</p>
    <a><button class="btn btn-danger">Delete Account</button> </a>
  </div>
</div>
