<form class="register"> <!-- class="form-register form-inline" action="index.html" method="post"> -->
  <legend><h1 class="h3 mb-3 font-weight-normal">Create Account</h1></legend>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstname" class="sr-only">First Name</label>
      <input type="text" id="firstName" class="form-control" placeholder="First Name" required autofocus>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName" class="sr-only">Last Name</label>
      <input type="text" id="lastName" class="form-control" placeholder="Last Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="sr-only">Email Address</label>
    <input type="email" id="email" class="form-control" placeholder="Email Address" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group col-md-6">
      <label for="password" class="sr-only">Password Confirmation</label>
      <input type="password" id="passwordConfirmation" class="form-control" placeholder="Password Confirmation">
    </div>
  </div>
  <a routerLink="../dashboard"><button type="submit" class="btn btn-lg btn-primary btn-block">Register</button></a>
</form>
