.card {
  width: 600px;
  margin: auto;
  margin-top: 32px;
}

@media (max-width: 633px) {
  .card {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

.register-header {
  padding-top: 16px;
}

a {
  text-decoration: none;
}

.form-register {
  margin: 0 24px;
  padding-bottom: 12px;
}

.form-control {
  border-radius: 1.5625em;
}

.btn-primary {
  border-radius: 1.5625em;
}

.card-bottom {
  padding-bottom: 16px;
}
