<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <a routerLink="../" class="mr-3"><button class="btn btn-primary" i18n>Back</button></a>
    <label class="mr-3"><b i18n>Message from test</b></label>
    <button class="btn btn-danger float-right" (click)="delete()" i18n>Delete</button>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-lg mt-3">
          <label for="fullName" i18n>Full Name</label>
          <input type="text" class="form-control" id="fullName" readonly placeholder="test">
        </div>
        <div class="col-lg mt-3">
          <label for="email" i18n>Email</label>
          <input type="text" class="form-control" id="email" readonly [formControl]="email">
        </div>
      </div>
      <div class="row">
        <div class="col-lg mt-3">
          <label for="subject" i18n>Subject</label>
          <input type="text" class="form-control" id="subject" readonly [formControl]="subject">
        </div>
      </div>
      <div class="row">
        <div class="col-lg mt-3">
          <label for="message" i18n>Message</label>
          <textarea class="form-control" id="message" readonly [formControl]="message"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
