<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-lg mt-3">
        <label for="firstName" i18n>First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <div class="invalid-feedback" i18n>Please provide your first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="lastName" i18n>Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <div class="invalid-feedback" i18n>Please provide your last name.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="ssnvs" i18n>SSNVS</label>
        <input type="text" class="form-control" id="ssnvs" formControlName="ssnvs">
        <div class="invalid-feedback" i18n>Please provide your SSNVS.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="dateOfBirth" i18n>Date Of Birth</label>
        <div class="input-group" id="dateOfBirth">
          <input
            type="text"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            formControlName="birthDate"  i18n-placeholder>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
          <div class="invalid-feedback" i18n>Please provide your date of birth.</div>
        </div>
      </div>
      <div class="col-lg mt-3">
        <label for="country" i18n>Country</label>
        <select class="form-control" id="country" formControlName="country">
          <option>Greece</option>
        </select>
        <div class="invalid-feedback" i18n>Please provide your country.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="fathersFirstName" i18n>Father's First Name</label>
        <input type="text" class="form-control" id="fathersFirstName" formControlName="fatherFirstName">
        <div class="invalid-feedback" i18n>Please provide your father's first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="fathersLastName" i18n>Father's Last Name</label>
        <input type="text" class="form-control" id="fathersLastName" formControlName="fatherLastName">
        <div class="invalid-feedback" i18n>Please provide your father's last name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="mothersFirstName" i18n>Mother's First Name</label>
        <input type="text" class="form-control" id="mothersFirstName" formControlName="motherFirstName">
        <div class="invalid-feedback" i18n>Please provide your mother's first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="mothersLastName" i18n>Mother's Last Name</label>
        <input type="text" class="form-control" id="mothersLastName" formControlName="motherLastName">
        <div class="invalid-feedback" i18n>Please provide your mother's last name</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="mobilePhone" i18n>Mobile Phone</label>
        <input type="text" class="form-control" id="mobilePhone" formControlName="mobilePhone">
        <div class="invalid-feedback" i18n>Please provide your mobile phone.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="emergencyPhone" i18n>Emergency Phone Contact</label>
        <input type="text" class="form-control" id="emergencyPhone" formControlName="emergencyContact">
        <div class="invalid-feedback" i18n>Please provide an emergency phone contact.</div>
      </div>
    </div>
    <div class="row" *ngIf="canEdit()">
      <div class="col-lg mt-3">
        <ng-container
          *ngIf="editing then editingPersonal else notEditingPersonal"></ng-container>
        <ng-template #notEditingPersonal>
          <button class="btn btn-primary mt-3 mr-3" (click)="onEdit()" i18n>Edit</button>
        </ng-template>
        <ng-template #editingPersonal>
          <button type="submit" class="btn btn-primary mt-3 mr-3" i18n>Save</button>
        </ng-template>
      </div>
    </div>
  </div>
</form>
