<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col-lg mt-3">
        <label for="firstName" i18n>First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
        <div class="invalid-feedback" i18n>Please provide your first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="lastName" i18n>Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName">
        <div class="invalid-feedback" i18n>Please provide your last name.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="ssnvs" i18n>SSNVS</label>
        <input type="text" class="form-control" id="ssnvs" formControlName="ssnvs">
        <div class="invalid-feedback" i18n>Please provide your SSNVS.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="dateOfBirth" i18n>Date Of Birth</label>
        <div class="input-group" id="dateOfBirth">
          <input
            type="text"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #d="ngbDatepicker"
            formControlName="birthDate">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
          <div class="invalid-feedback" i18n>Please provide your date of birth.</div>
        </div>
      </div>
      <div class="col-lg mt-3">
        <label for="country" i18n>Country</label>
        <select class="form-control" id="country" formControlName="country">
          <option i18n>Afghanistan</option>
          <option i18n>Albania</option>
          <option i18n>Algeria</option>
          <option i18n>American Samoa</option>
          <option i18n>Andorra</option>
          <option i18n>Angola</option>
          <option i18n>Anguilla</option>
          <option i18n>Antarctica</option>
          <option i18n>Antigua and Barbuda</option>
          <option i18n>Argentina</option>
          <option i18n>Armenia</option>
          <option i18n>Aruba</option>
          <option i18n>Australia</option>
          <option i18n>Austria</option>
          <option i18n>Azerbaijan</option>
          <option i18n>Bahamas (the)</option>
          <option i18n>Bahrain</option>
          <option i18n>Bangladesh</option>
          <option i18n>Barbados</option>
          <option i18n>Belarus</option>
          <option i18n>Belgium</option>
          <option i18n>Belize</option>
          <option i18n>Benin</option>
          <option i18n>Bermuda</option>
          <option i18n>Bhutan</option>
          <option i18n>Bolivia (Plurinational State of)</option>
          <option i18n>Bonaire, Sint Eustatius and Saba</option>
          <option i18n>Bosnia and Herzegovina</option>
          <option i18n>Botswana</option>
          <option i18n>Bouvet Island</option>
          <option i18n>Brazil</option>
          <option i18n>British Indian Ocean Territory (the)</option>
          <option i18n>Brunei Darussalam</option>
          <option i18n>Bulgaria</option>
          <option i18n>Burkina Faso</option>
          <option i18n>Burundi</option>
          <option i18n>Cabo Verde</option>
          <option i18n>Cambodia</option>
          <option i18n>Cameroon</option>
          <option i18n>Canada</option>
          <option i18n>Cayman Islands (the)</option>
          <option i18n>Central African Republic (the)</option>
          <option i18n>Chad</option>
          <option i18n>Chile</option>
          <option i18n>China</option>
          <option i18n>Christmas Island</option>
          <option i18n>Cocos (Keeling) Islands (the)</option>
          <option i18n>Colombia</option>
          <option i18n>Comoros (the)</option>
          <option i18n>Congo (the Democratic Republic of the)</option>
          <option i18n>Congo (the)</option>
          <option i18n>Cook Islands (the)</option>
          <option i18n>Costa Rica</option>
          <option i18n>Croatia</option>
          <option i18n>Cuba</option>
          <option i18n>Curaçao</option>
          <option i18n>Cyprus</option>
          <option i18n>Czechia</option>
          <option i18n>Côte d'Ivoire</option>
          <option i18n>Denmark</option>
          <option i18n>Djibouti</option>
          <option i18n>Dominica</option>
          <option i18n>Dominican Republic (the)</option>
          <option i18n>Ecuador</option>
          <option i18n>Egypt</option>
          <option i18n>El Salvador</option>
          <option i18n>Equatorial Guinea</option>
          <option i18n>Eritrea</option>
          <option i18n>Estonia</option>
          <option i18n>Eswatini</option>
          <option i18n>Ethiopia</option>
          <option i18n>Falkland Islands (the) [Malvinas]</option>
          <option i18n>Faroe Islands (the)</option>
          <option i18n>Fiji</option>
          <option i18n>Finland</option>
          <option i18n>France</option>
          <option i18n>French Guiana</option>
          <option i18n>French Polynesia</option>
          <option i18n>French Southern Territories (the)</option>
          <option i18n>Gabon</option>
          <option i18n>Gambia (the)</option>
          <option i18n>Georgia</option>
          <option i18n>Germany</option>
          <option i18n>Ghana</option>
          <option i18n>Gibraltar</option>
          <option i18n>Greece</option>
          <option i18n>Greenland</option>
          <option i18n>Grenada</option>
          <option i18n>Guadeloupe</option>
          <option i18n>Guam</option>
          <option i18n>Guatemala</option>
          <option i18n>Guernsey</option>
          <option i18n>Guinea</option>
          <option i18n>Guinea-Bissau</option>
          <option i18n>Guyana</option>
          <option i18n>Haiti</option>
          <option i18n>Heard Island and McDonald Islands</option>
          <option i18n>Holy See (the)</option>
          <option i18n>Honduras</option>
          <option i18n>Hong Kong</option>
          <option i18n>Hungary</option>
          <option i18n>Iceland</option>
          <option i18n>India</option>
          <option i18n>Indonesia</option>
          <option i18n>Iran (Islamic Republic of)</option>
          <option i18n>Iraq</option>
          <option i18n>Ireland</option>
          <option i18n>Isle of Man</option>
          <option i18n>Israel</option>
          <option i18n>Italy</option>
          <option i18n>Jamaica</option>
          <option i18n>Japan</option>
          <option i18n>Jersey</option>
          <option i18n>Jordan</option>
          <option i18n>Kazakhstan</option>
          <option i18n>Kenya</option>
          <option i18n>Kiribati</option>
          <option i18n>Korea (the Democratic People's Republic of)</option>
          <option i18n>Korea (the Republic of)</option>
          <option i18n>Kuwait</option>
          <option i18n>Kyrgyzstan</option>
          <option i18n>Lao People's Democratic Republic (the)</option>
          <option i18n>Latvia</option>
          <option i18n>Lebanon</option>
          <option i18n>Lesotho</option>
          <option i18n>Liberia</option>
          <option i18n>Libya</option>
          <option i18n>Liechtenstein</option>
          <option i18n>Lithuania</option>
          <option i18n>Luxembourg</option>
          <option i18n>Macao</option>
          <option i18n>Madagascar</option>
          <option i18n>Malawi</option>
          <option i18n>Malaysia</option>
          <option i18n>Maldives</option>
          <option i18n>Mali</option>
          <option i18n>Malta</option>
          <option i18n>Marshall Islands (the)</option>
          <option i18n>Martinique</option>
          <option i18n>Mauritania</option>
          <option i18n>Mauritius</option>
          <option i18n>Mayotte</option>
          <option i18n>Mexico</option>
          <option i18n>Micronesia (Federated States of)</option>
          <option i18n>Moldova (the Republic of)</option>
          <option i18n>Monaco</option>
          <option i18n>Mongolia</option>
          <option i18n>Montenegro</option>
          <option i18n>Montserrat</option>
          <option i18n>Morocco</option>
          <option i18n>Mozambique</option>
          <option i18n>Myanmar</option>
          <option i18n>Namibia</option>
          <option i18n>Nauru</option>
          <option i18n>Nepal</option>
          <option i18n>Netherlands (the)</option>
          <option i18n>New Caledonia</option>
          <option i18n>New Zealand</option>
          <option i18n>Nicaragua</option>
          <option i18n>Niger (the)</option>
          <option i18n>Nigeria</option>
          <option i18n>Niue</option>
          <option i18n>Norfolk Island</option>
          <option i18n>Northern Mariana Islands (the)</option>
          <option i18n>Norway</option>
          <option i18n>Oman</option>
          <option i18n>Pakistan</option>
          <option i18n>Palau</option>
          <option i18n>Palestine, State of</option>
          <option i18n>Panama</option>
          <option i18n>Papua New Guinea</option>
          <option i18n>Paraguay</option>
          <option i18n>Peru</option>
          <option i18n>Philippines (the)</option>
          <option i18n>Pitcairn</option>
          <option i18n>Poland</option>
          <option i18n>Portugal</option>
          <option i18n>Puerto Rico</option>
          <option i18n>Qatar</option>
          <option i18n>Republic of North Macedonia</option>
          <option i18n>Romania</option>
          <option i18n>Russian Federation (the)</option>
          <option i18n>Rwanda</option>
          <option i18n>Réunion</option>
          <option i18n>Saint Barthélemy</option>
          <option i18n>Saint Helena, Ascension and Tristan da Cunha</option>
          <option i18n>Saint Kitts and Nevis</option>
          <option i18n>Saint Lucia</option>
          <option i18n>Saint Martin (French part)</option>
          <option i18n>Saint Pierre and Miquelon</option>
          <option i18n>Saint Vincent and the Grenadines</option>
          <option i18n>Samoa</option>
          <option i18n>San Marino</option>
          <option i18n>Sao Tome and Principe</option>
          <option i18n>Saudi Arabia</option>
          <option i18n>Senegal</option>
          <option i18n>Serbia</option>
          <option i18n>Seychelles</option>
          <option i18n>Sierra Leone</option>
          <option i18n>Singapore</option>
          <option i18n>Sint Maarten (Dutch part)</option>
          <option i18n>Slovakia</option>
          <option i18n>Slovenia</option>
          <option i18n>Solomon Islands</option>
          <option i18n>Somalia</option>
          <option i18n>South Africa</option>
          <option i18n>South Georgia and the South Sandwich Islands</option>
          <option i18n>South Sudan</option>
          <option i18n>Spain</option>
          <option i18n>Sri Lanka</option>
          <option i18n>Sudan (the)</option>
          <option i18n>Suriname</option>
          <option i18n>Svalbard and Jan Mayen</option>
          <option i18n>Sweden</option>
          <option i18n>Switzerland</option>
          <option i18n>Syrian Arab Republic</option>
          <option i18n>Taiwan (Province of China)</option>
          <option i18n>Tajikistan</option>
          <option i18n>Tanzania, United Republic of</option>
          <option i18n>Thailand</option>
          <option i18n>Timor-Leste</option>
          <option i18n>Togo</option>
          <option i18n>Tokelau</option>
          <option i18n>Tonga</option>
          <option i18n>Trinidad and Tobago</option>
          <option i18n>Tunisia</option>
          <option i18n>Turkey</option>
          <option i18n>Turkmenistan</option>
          <option i18n>Turks and Caicos Islands (the)</option>
          <option i18n>Tuvalu</option>
          <option i18n>Uganda</option>
          <option i18n>Ukraine</option>
          <option i18n>United Arab Emirates (the)</option>
          <option i18n>United Kingdom of Great Britain and Northern Ireland (the)</option>
          <option i18n>United States Minor Outlying Islands (the)</option>
          <option i18n>United States of America (the)</option>
          <option i18n>Uruguay</option>
          <option i18n>Uzbekistan</option>
          <option i18n>Vanuatu</option>
          <option i18n>Venezuela (Bolivarian Republic of)</option>
          <option i18n>Viet Nam</option>
          <option i18n>Virgin Islands (British)</option>
          <option i18n>Virgin Islands (U.S.)</option>
          <option i18n>Wallis and Futuna</option>
          <option i18n>Western Sahara</option>
          <option i18n>Yemen</option>
          <option i18n>Zambia</option>
          <option i18n>Zimbabwe</option>
          <option i18n>Åland Islands</option>
        </select>
        <div class="invalid-feedback" i18n>Please provide your country.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="fathersFirstName" i18n>Father's First Name</label>
        <input type="text" class="form-control" id="fathersFirstName" formControlName="fatherFirstName">
        <div class="invalid-feedback" i18n>Please provide your father's first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="fathersLastName" i18n>Father's Last Name</label>
        <input type="text" class="form-control" id="fathersLastName" formControlName="fatherLastName">
        <div class="invalid-feedback" i18n>Please provide your father's last name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="mothersFirstName" i18n>Mother's First Name</label>
        <input type="text" class="form-control" id="mothersFirstName" formControlName="motherFirstName">
        <div class="invalid-feedback" i18n>Please provide your mother's first name.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="mothersLastName" i18n>Mother's Last Name</label>
        <input type="text" class="form-control" id="mothersLastName" formControlName="motherLastName">
        <div class="invalid-feedback" i18n>Please provide your mother's last name</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg mt-3">
        <label for="mobilePhone" i18n>Mobile Phone</label>
        <input type="text" class="form-control" id="mobilePhone" formControlName="mobilePhone">
        <div class="invalid-feedback" i18n>Please provide your mobile phone.</div>
      </div>
      <div class="col-lg mt-3">
        <label for="emergencyPhone" i18n>Emergency Phone Contact</label>
        <input type="text" class="form-control" id="emergencyPhone" formControlName="emergencyContact">
        <div class="invalid-feedback" i18n>Please provide an emergency phone contact.</div>
      </div>
    </div>
    <div class="row" *ngIf="canEdit()">
      <div class="col-lg mt-3">
        <ng-container
          *ngIf="editing then editingPersonal else notEditingPersonal"></ng-container>
        <ng-template #notEditingPersonal>
          <button class="btn btn-primary mt-3 mr-3" (click)="onEdit()" i18n>Edit</button>
        </ng-template>
        <ng-template #editingPersonal>
          <button type="submit" class="btn btn-primary mt-3 mr-3" i18n>Save</button>
        </ng-template>
      </div>
    </div>
  </div>
</form>
