<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="btn-group-mr-3">
    <h1><a routerLink="../">ihb</a> </h1>
  </div>
</nav>


<form class="form-signin">  <!-- action="index.html" method="post"> -->
    <fieldset>
      <legend><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></legend>
      <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <!-- update link to forgot password  -->
      <p id="forgot_password"><a routerLink="../forgot-password">Forgot password?</a></p>
      <a routerLink="../dashboard"><input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In"></a>
    </fieldset>

</form>
