<div class="card w-75 mt-3 mx-auto">
  <div class="card-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Users</a>
        <ng-template ngbNavContent>
          <form>
              <div class="form-group form-inline mb-4">
                Search user: <input class="form-control ml-2 w-50" type="text" [formControl]="filter"/>
              </div>
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" value="" id="isDoctor">
                <label class="form-check-label" for="isDoctor">is Doctor?</label>
              </div>
            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" value="" id="isAdministrator">
              <label class="form-check-label" for="isAdministrator">is Administrator?</label>
            </div>
          </form>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">Is Doctor?</th>
              <th scope="col">Is Administrator?</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <th scope="row">{{user.id}}</th>
              <td><ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight></td>
              <td><ngb-highlight [result]="user.isDoctor" [term]="filter.value"></ngb-highlight></td>
              <td><ngb-highlight [result]="user.isAdministrator" [term]="filter.value"></ngb-highlight></td>
              <td><a><button class="btn btn-primary mr-3">Edit</button></a></td>
              <td><a><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
          <form>

          </form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Three</a>
        <ng-template ngbNavContent>
          <form>

          </form>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-3"></div>
  </div>
</div>
