<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1 i18n>Notifications</h1>
  </div>
  <div class="card-body">
    <div>
      <p i18n>
        In this page we inform you about the doctors, who had grant access and had see your medical history.
        <b>The data is raw!</b>
      </p>
    </div>
    <table class="table table-striped mt-3 table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" i18n>First Name</th>
        <th scope="col" i18n>Last Name</th>
        <th scope="col" i18n>Access Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let log of logs; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{log.firstName}}</td>
        <td>{{log.lastName}}</td>
        <td>{{log.accessTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
