<nav id="menu" class="navbar navbar-expand-lg sticky-top">
  <a routerLink="" class="mr-3"><img src="assets/img/front-page/png/logo.png" alt="ihb-logo" class="logo"></a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" fragment="about-us" (click)="collapse()" i18n>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" fragment="user" (click)="collapse()" i18n>User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" fragment="hospitals" (click)="collapse()" i18n>Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" fragment="security" (click)="collapse()" i18n>Security</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" fragment="contact" (click)="collapse()" i18n>Contact</a>
      </li>
    </ul>


    <div ngbDropdown class="nav-item">
      <a class="nav-link" ngbDropdownToggle role="button">
        <fa-icon [icon]="faGlobe" [size]="'lg'"></fa-icon>
      </a>
      <div ngbDropdownMenu>
        <a
          [class.active]="locale === language.code"
          *ngFor="let language of languages"
          [href]="'/' + language.code + loadedUrl"
          ngbDropdownItem
        >{{ language.text }}</a>
      </div>
    </div>

    <ul class="navbar-nav nav-pills">
      <a routerLink="/auth/login" class="mr-3 nav-button-margin" (click)="collapse()"><button class="btn btn-outline-dark " i18n>Sign in</button></a>
      <a routerLink="/auth/register" (click)="collapse()"><button class="btn btn-dark" i18n>Sign up</button></a>
    </ul>
  </div>
</nav>

