.card {
  width: 400px;
  margin: auto;
  margin-top: 32px;
}

@media (max-width: 443px) {
  .card {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

.reset-password-header {
  padding-top: 16px;
}

a {
  text-decoration: none;
}

.form-reset {
  margin: 0 24px;
  padding-bottom: 28px;
}

.form-reset .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
  border-radius: 1.5625em;
}

.form-reset .form-control:focus {
  z-index: 2;
}

.h3 {
  text-align: center;
}

p#subtitle {
  font-size: 0.9375rem;
}

.form-control,
.btn-primary {
  border-radius: 1.5625em;
}

