<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1>User</h1>
  </div>
  <div class="card-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Personal Information</a>
        <ng-template ngbNavContent>
          <form [formGroup]="personalForm" (submit)="onPersonalSubmit()">
            <div class="form-group">
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName"
                         formControlName="firstName">
                  <div class="invalid-feedback">Please provide your first name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName"
                         formControlName="lastName">
                  <div class="invalid-feedback">Please provide your last name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="ssnvs">SSNVS</label>
                  <input type="text" class="form-control" id="ssnvs"
                         formControlName="ssnvs">
                  <div class="invalid-feedback">Please provide your SSNVS.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="dateOfBirth">Date Of Birth</label>
                  <div class="input-group" id="dateOfBirth">
                    <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                      #d="ngbDatepicker"
                      formControlName="birthDate">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
                        <fa-icon [icon]="faCalendarAlt"></fa-icon>
                      </button>
                    </div>
                    <div class="invalid-feedback">Please provide your date of birth.</div>
                  </div>
                </div>
                <div class="col-lg mt-3">
                  <label for="country">Country</label>
                  <select class="form-control" id="country"
                          formControlName="country">
                    <option>Greece</option>
                  </select>
                  <div class="invalid-feedback">Please provide your country.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="fathersFirstName">Father's First Name</label>
                  <input type="text" class="form-control" id="fathersFirstName"
                         formControlName="fatherFirstName">
                  <div class="invalid-feedback">Please provide your father's first name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="fathersLastName">Father's Last Name</label>
                  <input type="text" class="form-control" id="fathersLastName"
                         formControlName="fatherLastName">
                  <div class="invalid-feedback">Please provide your father's last name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mothersFirstName">Mother's First Name</label>
                  <input type="text" class="form-control" id="mothersFirstName"
                         formControlName="motherFirstName">
                  <div class="invalid-feedback">Please provide your mother's first name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mothersLastName">Mother's Last Name</label>
                  <input type="text" class="form-control" id="mothersLastName"
                         formControlName="motherLastName">
                  <div class="invalid-feedback">Please provide your mother's last name</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email"
                         formControlName="email">
                  <div class="invalid-feedback">Please provide your email.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mobilePhone">Mobile Phone</label>
                  <input type="text" class="form-control" id="mobilePhone"
                         formControlName="mobilePhone">
                  <div class="invalid-feedback">Please provide your mobile phone.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="emergencyPhone">Emergency Phone Contact</label>
                  <input type="text" class="form-control" id="emergencyPhone"
                         formControlName="emergencyContact">
                  <div class="invalid-feedback">Please provide an emergency phone contact.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <ng-container
                    *ngIf="!editPersonalInformation then thenBlockForPersonal else elseBlockForPersonal"></ng-container>
                  <ng-template #thenBlockForPersonal>
                    <button class="btn btn-primary mt-3 mr-3" (click)="editPersonal()">Edit</button>
                  </ng-template>
                  <ng-template #elseBlockForPersonal>
                    <button type="submit" class="btn btn-primary mt-3 mr-3" [disabled]="personalForm.invalid">Save</button>
                  </ng-template>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Vaccinations</a>
        <ng-template ngbNavContent>
          <form [formGroup]="vaccinationListForm" (submit)="onVaccinationSubmit()">
            <label for="recommendedVaccinations"><b>Recommended vaccinations<sup>1</sup></b></label>
            <div class="row" id="recommendedVaccinations">
              <div class="col-lg-4" *ngFor="let vaccination of vaccinationList">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="{{vaccination.id}}" id="{{vaccination.id}}"/>
                  <label class="form-check-label" for="{{vaccination.id}}">{{vaccination.name}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <ng-container
                  *ngIf="!editVaccinationList then thenBlockForVaccinationList else elseBlockForVaccinationList"></ng-container>
                <ng-template #thenBlockForVaccinationList>
                  <button type="button" class="btn btn-warning" (click)="editVaccination()">Edit</button>
                </ng-template>
                <ng-template #elseBlockForVaccinationList>
                  <button type="submit" class="btn btn-success">Save</button>
                </ng-template>
              </div>
            </div>
            <label class="mt-5" for="extraVaccinations"><b>Extra vaccinations</b></label>
            <div class="row" id="extraVaccinations">
              <div class="col">
                <form [formGroup]="addExtraVaccinationForm" (submit)="onExtraVaccinationSubmit()">
                  <ng-container *ngIf="!addExtraVaccination; then thenBlockForExtraVaccination else elseBlockForExtraVaccination"></ng-container>
                  <ng-template #thenBlockForExtraVaccination>
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-primary" (click)="addVaccination()">Add</button>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #elseBlockForExtraVaccination>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg mt-3">
                          <label for="vaccinationName">Vaccination Name</label>
                          <input type="text" class="form-control" [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('name'))}"
                            id="vaccinationName" formControlName="name">
                          <div class="invalid-feedback">Please provide a valid name.</div>
                        </div>
                        <div class="col-lg mt-3">
                          <label for="vaccinationDate">Vaccination Date</label>
                          <div class="input-group" id="vaccinationDate">
                            <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date"
                              ngbDatepicker #d="ngbDatepicker"
                              [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('date'))}">
                            <div class="input-group-append">
                              <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
                                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                              </button>
                            </div>
                            <div class="invalid-feedback">Please provide a valid date.</div>
                          </div>
                        </div>
                        <div class="col-lg mt-3">
                          <label for="vaccinationDescription">Description</label>
                          <textarea class="form-control" id="vaccinationDescription" formControlName="description"
                                    [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('description'))}"></textarea>
                          <div class="invalid-feedback">Please provide a valid description.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg mt-3">
                          <button type="submit" class="btn btn-success mr-3" [disabled]="addExtraVaccinationForm.invalid">Save</button>
                          <button type="button" class="btn btn-primary mr-3" (click)="addVaccination()">Close</button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </form>
                <table class="table table-striped mt-3 table-responsive-lg">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vaccination Name</th>
                    <th scope="col">Vaccination Date</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vaccine of extraVaccinationList; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{vaccine.name}}</td>
                      <td>{{vaccine.date}}</td>
                      <td>{{vaccine.description}}</td>
                      <td><button type="button" class="btn btn-warning" (click)="setEditExtraVaccinationForm(vaccine)">Edit</button></td>
                      <td><button type="button" class="btn badge-danger" (click)="onDeleteExtraVaccinationSubmit(vaccine)">Delete</button></td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination
                    [(page)]="extraVaccinationPage"
                    [pageSize]="extraVaccinationPageSize"
                    [collectionSize]="extraVaccinationSize"
                    (pageChange)="extraVaccinePage()"></ngb-pagination>
                </div>
                <hr/>
                <div>
                  <label for="footnotes"><b>Footnotes</b></label>
                  <p id="footnotes">
                    1. <a target="_blank"
                          href="https://vaccine-schedule.ecdc.europa.eu/Scheduler/ByCountry?SelectedCountryId=82&IncludeChildAgeGroup=true&IncludeChildAgeGroup=false&IncludeAdultAgeGroup=true&IncludeAdultAgeGroup=false">
                    Greece: Recommended vaccinations
                  </a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Allergic Diseases</a>
        <ng-template ngbNavContent>
          <form [formGroup]="addAllergicForm" (submit)="onAllergicFormSubmit()">
            <ng-container *ngIf="!addAllergicDisease; then thenBlockForAllergic else elseBlockForAllergic"></ng-container>
            <ng-template #thenBlockForAllergic>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" (click)="addAllergic()">Add</button>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlockForAllergic>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseName">Allergic Disease Name</label>
                    <input type="text" class="form-control" id="allergicDiseaseName" formControlName="name"
                      [ngClass]="{'is-invalid': validator(addAllergicForm.get('name'))}">
                    <div class="invalid-feedback">Please provide a valid name.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseDescription">Allergic Disease Description</label>
                    <textarea class="form-control" id="allergicDiseaseDescription" formControlName="dDescription"
                      [ngClass]="{'is-invalid': validator(addAllergicForm.get('dDescription'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid description.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseTreatmentDescription">Treatment Description</label>
                    <textarea class="form-control" id="allergicDiseaseTreatmentDescription" formControlName="tDescription"
                      [ngClass]="{'is-invalid': validator(addAllergicForm.get('tDescription'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid description.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <button type="submit" class="btn btn-primary mr-3" [disabled]="addAllergicForm.invalid">Save</button>
                    <button class="btn btn-primary mr-3" (click)="addAllergic()">Close</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
          <table class="table table-striped mt-3 table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Allergic Disease Name</th>
              <th scope="col">Allergic Disease Description</th>
              <th scope="col">Treatment Description</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let allergy of allergicList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{allergy.name}}</td>
                <td>{{allergy.dDescription}}</td>
                <td>{{allergy.tDescription}}</td>
                <td><button type="button" class="btn btn-warning" (click)="setEditAllergicForm(allergy)">Edit</button></td>
                <td><button type="button" class="btn badge-danger" (click)="onDeleteAllergicSubmit(allergy)">Delete</button></td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [(page)]="allergicPageNumber"
              [pageSize]="allergicPageSize"
              [collectionSize]="allergicSize"
              (pageChange)="allergicPage()">
            </ngb-pagination>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Hospital Treatment</a>
        <ng-template ngbNavContent>
          <form [formGroup]="addHospitalForm" (submit)="onHospitalFormSubmit()">
            <ng-container
              *ngIf="!addHospitalTreatment; then thenBlockForHospitalTreatment else elseBlockForHospitalTreatment"></ng-container>
            <ng-template #thenBlockForHospitalTreatment>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" (click)="addHospital()">Add</button>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlockForHospitalTreatment>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalName">Hospital's Name</label>
                    <input type="text" class="form-control" id="hospitalName" formControlName="name"
                      [ngClass]="{'is-invalid': validator(addHospitalForm.get('name'))}">
                    <div class="invalid-feedback">Please provide a valid name.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalCity">Hospital's City</label>
                    <input type="text" class="form-control" id="hospitalCity" formControlName="city"
                      [ngClass]="{'is-invalid': validator(addHospitalForm.get('city'))}">
                    <div class="invalid-feedback">Please provide a valid city.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalCountry">Hospital's Country</label>
                    <select class="form-control" id="hospitalCountry" formControlName="country"
                      [ngClass]="{'is-invalid': validator(addHospitalForm.get('country'))}">
                      <option>Greece</option>
                    </select>
                    <div class="invalid-feedback">Please provide a valid country.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentCause">Hospital Treatment Cause</label>
                    <textarea class="form-control" id="hospitalTreatmentCause" formControlName="cause"
                      [ngClass]="{'is-invalid': validator(addHospitalForm.get('cause'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid cause.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentDescription">Treatment Description</label>
                    <textarea class="form-control" id="hospitalTreatmentDescription" formControlName="treatment"
                      [ngClass]="{'is-invalid': validator(addHospitalForm.get('treatment'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid treatment.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentStarts">Hospital Treatment Starts</label>
                    <div class="input-group" id="hospitalTreatmentStarts">
                      <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dpStart" formControlName="starts"
                        ngbDatepicker #dS="ngbDatepicker"
                        [ngClass]="{'is-invalid': validator(addHospitalForm.get('starts'))}">
                      <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="dS.toggle()">
                          <fa-icon [icon]="faCalendarAlt"></fa-icon>
                        </button>
                      </div>
                      <div class="invalid-feedback">Please provide a valid date.</div>
                    </div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentFinishes">Hospital Treatment Finishes</label>
                    <div class="input-group" id="hospitalTreatmentFinishes">
                      <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dpFinishes" formControlName="finishes"
                        ngbDatepicker #dF="ngbDatepicker"
                        [ngClass]="{'is-invalid': validator(addHospitalForm.get('finishes'))}">
                      <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="dF.toggle()">
                          <fa-icon [icon]="faCalendarAlt"></fa-icon>
                        </button>
                      </div>
                      <div class="invalid-feedback">Please provide a valid date.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <button type="submit" class="btn btn-primary mr-3" [disabled]="addHospitalForm.invalid">Save</button>
                    <button class="btn btn-primary mr-3" (click)="addHospital()">Close</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
          <table class="table table-striped mt-3 table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hospital's Name</th>
              <th scope="col">Hospital's City</th>
              <th scope="col">Hospital's Country</th>
              <th scope="col">Hospital Treatment Cause</th>
              <th scope="col">Treatment Description</th>
              <th scope="col">Hospital Treatment Period</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-3"></div>
  </div>
</div>
