<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1>User</h1>
  </div>
  <div class="card-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Personal Information</a>
        <ng-template ngbNavContent>
          <form [formGroup]="personalForm" (ngSubmit)="onPersonalSubmit()">
            <div class="form-group">
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName"
                         formControlName="fName" [ngClass]="{'is-invalid': validator(personalForm.get('fName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName"
                         formControlName="lName" [ngClass]="{'is-invalid': validator(personalForm.get('lName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="ssnvs">SSNVS</label>
                  <input type="text" class="form-control" id="ssnvs"
                         formControlName="ssnvs" [ngClass]="{'is-invalid': validator(personalForm.get('ssnvs'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="dateOfBirth">Date Of Birth</label>
                  <div class="input-group" id="dateOfBirth">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                           #d="ngbDatepicker"
                           formControlName="date" [ngClass]="{'is-invalid': validator(personalForm.get('date'))}" required>
                    <div class="input-group-append">
                      <fa-icon [icon]="faCalendarAlt" class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                               type="button" [ngClass]="{'disabled fa-icon-disabled': !editPersonalInformation}" ></fa-icon>
                    </div>
                    <div class="invalid-feedback">Please provide a valid name.</div>
                  </div>
                </div>
                <div class="col-lg mt-3">
                  <label for="country">County</label>
                  <select class="form-control" id="country"
                          formControlName="country" [ngClass]="{'is-invalid': validator(personalForm.get('country'))}" required>
                    <option>Greece</option>
                  </select>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="fathersFirstName">Father's First Name</label>
                  <input type="text" class="form-control" id="fathersFirstName"
                         formControlName="fFName" [ngClass]="{'is-invalid': validator(personalForm.get('fFName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="fathersLastName">Father's Last Name</label>
                  <input type="text" class="form-control" id="fathersLastName"
                         formControlName="fLName" [ngClass]="{'is-invalid': validator(personalForm.get('fLName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mothersFirstName">Mother's First Name</label>
                  <input type="text" class="form-control" id="mothersFirstName"
                         formControlName="mFName" [ngClass]="{'is-invalid': validator(personalForm.get('mFName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mothersLastName">Mother's Last Name</label>
                  <input type="text" class="form-control" id="mothersLastName"
                         formControlName="mLName" [ngClass]="{'is-invalid': validator(personalForm.get('mLName'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email"
                         formControlName="email" [ngClass]="{'is-invalid': validator(personalForm.get('email'))}" required email="true">
                  <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="mobilePhone">Mobile Phone</label>
                  <input type="text" class="form-control" id="mobilePhone"
                         formControlName="mPhone" [ngClass]="{'is-invalid': validator(personalForm.get('mPhone'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
                <div class="col-lg mt-3">
                  <label for="emergencyPhone">Emergency Phone Contact</label>
                  <input type="text" class="form-control" id="emergencyPhone"
                         formControlName="ePhone" [ngClass]="{'is-invalid': validator(personalForm.get('ePhone'))}" required>
                  <div class="invalid-feedback">Please provide a valid name.</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg mt-3">
                  <ng-container
                    *ngIf="!editPersonalInformation then thenBlockForPersonal else elseBlockForPersonal"></ng-container>
                  <ng-template #thenBlockForPersonal>
                    <button class="btn btn-primary mt-3 mr-3" (click)="editPersonal()">Edit</button>
                  </ng-template>
                  <ng-template #elseBlockForPersonal>
                    <button type="submit" class="btn btn-primary mt-3 mr-3" [disabled]="isValid(personalForm)">Save</button>
                  </ng-template>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Vaccinations</a>
        <ng-template ngbNavContent>
          <form>
            <label for="recommendedVaccinations"><b>Recommended vaccinations<sup>1</sup></b></label>
            <div class="row" id="recommendedVaccinations">
              <div class="col-lg">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="tuberculosis"/>
                  <label class="form-check-label" for="tuberculosis">Tuberculosis</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="rotavirusInfection"/>
                  <label class="form-check-label" for="rotavirusInfection">Rotavirus infection</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="diphtheria"/>
                  <label class="form-check-label" for="diphtheria">Diphtheria</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="tetanus"/>
                  <label class="form-check-label" for="tetanus">Tetanus</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="pertussis"/>
                  <label class="form-check-label" for="pertussis">Pertussis</label>
                </div>
              </div>
              <div class="col-lg">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="poliomyelitis"/>
                  <label class="form-check-label" for="poliomyelitis">Poliomyelitis</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="haemophilusInfluenzaeTypeBInfection"/>
                  <label class="form-check-label" for="haemophilusInfluenzaeTypeBInfection">Haemophilus influenzae type
                    b infection</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hepatitisB"/>
                  <label class="form-check-label" for="hepatitisB">Hepatitis B</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="pneumococcalDisease"/>
                  <label class="form-check-label" for="pneumococcalDisease">Pneumococcal disease</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="meningococcalDisease"/>
                  <label class="form-check-label" for="meningococcalDisease">Meningococcal disease</label>
                </div>
              </div>
              <div class="col-lg">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="measles"/>
                  <label class="form-check-label" for="measles">Measles</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="mumps"/>
                  <label class="form-check-label" for="mumps">Mumps</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="rubella"/>
                  <label class="form-check-label" for="rubella">Rubella</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="varicella"/>
                  <label class="form-check-label" for="varicella">Varicella</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="humanPapillomavirusInfection"/>
                  <label class="form-check-label" for="humanPapillomavirusInfection">Human papillomavirus
                    infection</label>
                </div>
              </div>
              <div class="col-lg">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="influenza"/>
                  <label class="form-check-label" for="influenza">Influenza</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="herpesZoster"/>
                  <label class="form-check-label" for="herpesZoster">Herpes zoster</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hepatitisA"/>
                  <label class="form-check-label" for="hepatitisA">Hepatitis A</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <button class="btn btn-primary mr-3">Edit</button>
                <button class="btn btn-primary mr-3">Save</button>
              </div>
            </div>
            <label class="mt-5" for="extraVaccinations"><b>Extra vaccinations</b></label>
            <div class="row" id="extraVaccinations">
              <div class="col">
                <form [formGroup]="addExtraVaccinationForm" (ngSubmit)="onExtraVaccinationSubmit()">
                  <ng-container
                    *ngIf="!addExtraVaccination; then thenBlockForExtraVaccination else elseBlockForExtraVaccination"></ng-container>
                  <ng-template #thenBlockForExtraVaccination>
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-primary" (click)="addVaccination()">Add</button>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #elseBlockForExtraVaccination>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg mt-3">
                          <label for="vaccinationName">Vaccination Name</label>
                          <input type="text" class="form-control" [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('name'))}"
                                 id="vaccinationName" formControlName="name" required>
                          <div class="invalid-feedback">Please provide a valid name.</div>
                        </div>
                        <div class="col-lg mt-3">
                          <label for="vaccinationDate">Vaccination Date</label>
                          <div class="input-group" id="vaccinationDate">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date"
                                   ngbDatepicker #d="ngbDatepicker"
                                   [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('date'))}" required>
                            <div class="input-group-append">
                              <fa-icon [icon]="faCalendarAlt" class="btn btn-outline-secondary calendar"
                                       (click)="d.toggle()" type="button"></fa-icon>
                            </div>
                            <div class="invalid-feedback">Please provide a valid date.</div>
                          </div>
                        </div>
                        <div class="col-lg mt-3">
                          <label for="vaccinationDescription">Description</label>
                          <textarea class="form-control" id="vaccinationDescription" formControlName="description"
                                    [ngClass]="{'is-invalid': validator(addExtraVaccinationForm.get('description'))}" required></textarea>
                          <div class="invalid-feedback">Please provide a valid description.</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg mt-3">
                          <button type="submit" class="btn btn-primary mr-3" [disabled]="isValid(addExtraVaccinationForm)">Save</button>
                          <button class="btn btn-primary mr-3" (click)="addVaccination()">Close</button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </form>
                <table class="table table-striped mt-3 table-responsive-lg">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vaccination Name</th>
                    <th scope="col">Vaccination Date</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
                <hr/>
                <div>
                  <label for="footnotes"><b>Footnotes</b></label>
                  <p id="footnotes">
                    1. <a target="_blank"
                          href="https://vaccine-schedule.ecdc.europa.eu/Scheduler/ByCountry?SelectedCountryId=82&IncludeChildAgeGroup=true&IncludeChildAgeGroup=false&IncludeAdultAgeGroup=true&IncludeAdultAgeGroup=false">
                    Greece: Recommended vaccinations
                  </a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Allergic Diseases</a>
        <ng-template ngbNavContent>
          <form [formGroup]="addAllergicForm" (ngSubmit)="onAllergicFormSubmit()">
            <ng-container
              *ngIf="!addAllergicDisease; then thenBlockForAllergic else elseBlockForAllergic"></ng-container>
            <ng-template #thenBlockForAllergic>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" (click)="addAllergic()">Add</button>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlockForAllergic>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseName">Allergic Disease Name</label>
                    <input type="text" class="form-control" id="allergicDiseaseName" formControlName="name" required
                           [ngClass]="{'is-invalid': validator(addAllergicForm.get('name'))}">
                    <div class="invalid-feedback">Please provide a valid name.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseDescription">Allergic Disease Description</label>
                    <textarea class="form-control" id="allergicDiseaseDescription" formControlName="dDescription" required
                              [ngClass]="{'is-invalid': validator(addAllergicForm.get('dDescription'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid description.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="allergicDiseaseTreatmentDescription">Treatment Description</label>
                    <textarea class="form-control" id="allergicDiseaseTreatmentDescription" formControlName="tDescription" required
                              [ngClass]="{'is-invalid': validator(addAllergicForm.get('tDescription'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid description.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <button type="submit" class="btn btn-primary mr-3" [disabled]="isValid(addAllergicForm)">Save</button>
                    <button class="btn btn-primary mr-3" (click)="addAllergic()">Close</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
          <table class="table table-striped mt-3 table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Allergic Disease Name</th>
              <th scope="col">Allergic Disease Description</th>
              <th scope="col">Treatment Description</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Hospital Treatment</a>
        <ng-template ngbNavContent>
          <form [formGroup]="addHospitalForm" (ngSubmit)="onHospitalFormSubmit()">
            <ng-container
              *ngIf="!addHospitalTreatment; then thenBlockForHospitalTreatment else elseBlockForHospitalTreatment"></ng-container>
            <ng-template #thenBlockForHospitalTreatment>
              <div class="row">
                <div class="col">
                  <button class="btn btn-primary" (click)="addHospital()">Add</button>
                </div>
              </div>
            </ng-template>
            <ng-template #elseBlockForHospitalTreatment>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalName">Hospital's Name</label>
                    <input type="text" class="form-control" id="hospitalName" formControlName="name" required
                           [ngClass]="{'is-invalid': validator(addHospitalForm.get('name'))}">
                    <div class="invalid-feedback">Please provide a valid name.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalCity">Hospital's City</label>
                    <input type="text" class="form-control" id="hospitalCity" formControlName="city" required
                           [ngClass]="{'is-invalid': validator(addHospitalForm.get('city'))}">
                    <div class="invalid-feedback">Please provide a valid city.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalCountry">Hospital's Country</label>
                    <select class="form-control" id="hospitalCountry" formControlName="country" required
                            [ngClass]="{'is-invalid': validator(addHospitalForm.get('country'))}">
                      <option>Greece</option>
                    </select>
                    <div class="invalid-feedback">Please provide a valid country.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentCause">Hospital Treatment Cause</label>
                    <textarea class="form-control" id="hospitalTreatmentCause" formControlName="cause" required
                              [ngClass]="{'is-invalid': validator(addHospitalForm.get('cause'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid cause.</div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentDescription">Treatment Description</label>
                    <textarea class="form-control" id="hospitalTreatmentDescription" formControlName="treatment" required
                              [ngClass]="{'is-invalid': validator(addHospitalForm.get('treatment'))}"></textarea>
                    <div class="invalid-feedback">Please provide a valid treatment.</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentStarts">Hospital Treatment Starts</label>
                    <div class="input-group" id="hospitalTreatmentStarts">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dpStart" formControlName="starts"
                             ngbDatepicker #dS="ngbDatepicker"
                             [ngClass]="{'is-invalid': validator(addHospitalForm.get('starts'))}" required>
                      <div class="input-group-append">
                        <fa-icon [icon]="faCalendarAlt" class="btn btn-outline-secondary calendar"
                                 (click)="dS.toggle()" type="button"></fa-icon>
                      </div>
                      <div class="invalid-feedback">Please provide a valid date.</div>
                    </div>
                  </div>
                  <div class="col-lg mt-3">
                    <label for="hospitalTreatmentFinishes">Hospital Treatment Finishes</label>
                    <div class="input-group" id="hospitalTreatmentFinishes">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dpFinishes" formControlName="finishes"
                             ngbDatepicker #dF="ngbDatepicker"
                             [ngClass]="{'is-invalid': validator(addHospitalForm.get('finishes'))}" required>
                      <div class="input-group-append">
                        <fa-icon [icon]="faCalendarAlt" class="btn btn-outline-secondary calendar"
                                 (click)="dF.toggle()" type="button"></fa-icon>
                      </div>
                      <div class="invalid-feedback">Please provide a valid date.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg mt-3">
                    <button type="submit" class="btn btn-primary mr-3" [disabled]="isValid(addHospitalForm)">Save</button>
                    <button class="btn btn-primary mr-3" (click)="addHospital()">Close</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
          <table class="table table-striped mt-3 table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hospital's Name</th>
              <th scope="col">Hospital's City</th>
              <th scope="col">Hospital's Country</th>
              <th scope="col">Hospital Treatment Cause</th>
              <th scope="col">Treatment Description</th>
              <th scope="col">Hospital Treatment Period</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-3"></div>
  </div>
</div>
