<table class="table table-striped mt-3 table-responsive-lg">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Email</th>
    <th scope="col">Subject</th>
    <th scope="col">Message</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inboxMessage of inbox; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{inboxMessage.email}}</td>
      <td>{{inboxMessage.subject}}</td>
      <td>{{inboxMessage.message}}</td>
      <td><a routerLink="./{{inboxMessage.id}}"><button class="btn btn-primary">Read</button></a></td>
      <td><button type="button" class="btn btn-danger" (click)="delete(inboxMessage)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
 <ngb-pagination
 [collectionSize]="count"
 [(page)]="page"
 [pageSize]="limit"
 (pageChange)="fetchCurrentPage()">
 </ngb-pagination>
</div>
