<footer class="footer">
  <ul class="row nav footer-nav">
    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5 i18n>World Health Organization</h5>
        </li>
        <li class="nav-item">
          <a href="https://www.afro.who.int/" class="footer-link" i18n>Africa</a>
        </li>
        <li class="nav-item">
          <a href="https://www.paho.org/en" class="footer-link" i18n>Americas</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/southeastasia" class="footer-link" i18n>South-East Asia</a>
        </li>
        <li class="nav-item">
          <a href="http://www.euro.who.int/en/home" class="footer-link" i18n>Europe</a>
        </li>
        <li class="nav-item">
          <a href="http://www.emro.who.int/index.html" class="footer-link" i18n>Eastern Mediterranean</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/westernpacific" class="footer-link" i18n>Western Pacific</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5 i18n>Non-governmental Organizations</h5>
        </li>
        <li class="nav-item">
          <a href="https://doctorsoftheworld.org/" class="footer-link" i18n>Doctors of the World</a>
        </li>
        <li class="nav-item">
          <a href="https://www.msf.org/" class="footer-link" i18n>Doctors without Borders</a>
        </li>
        <li class="nav-item">
          <a href="https://www.icrc.org/en" class="footer-link" i18n>International Committee of Red Cross</a>
        </li>
        <li class="nav-item">
          <a href="https://en.emergency.it/" class="footer-link" i18n>Emergency</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5 i18n>Useful Links</h5>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/media-resources/news" class="footer-link" i18n>Coronavirus News</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/ith/en/" class="footer-link" i18n>International Travel</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/ith/diseases/en/" class="footer-link" i18n>Diseases Information</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/ith/vaccines/en/" class="footer-link" i18n>Vaccines</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/ith/precautions/en/" class="footer-link" i18n>General Precautions</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5 i18n>About Us</h5>
        </li>
        <li class="nav-item">
          <a href="https://www.auth.gr/en" class="footer-link" i18n>Aristotle University of Thessaloniki</a>
        </li>
        <li class="nav-item">
          <a href="https://www.csd.auth.gr/en/" class="footer-link" i18n>Computer Science Department</a>
        </li>
        <li class="nav-item">
          <a href="https://sustainabledevelopment.un.org/?menu=1300" class="footer-link" i18n>UN Sustainable Development Goals</a>
        </li>
        <li class="nav-item">
          <a href="https://sustainabledevelopment.un.org/sdg3" class="footer-link" i18n>Good Health and Well-Being</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="line-separator"></div>
  <div class="d-flex align-items-center flex-column pb-3 footer-bottom">
    <div class="social-media-section">
      <a href="https://www.facebook.com" class="footer-link mr-3"><fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon></a>
      <a href="https://www.twitter.com" class="footer-link"><fa-icon [icon]="faTwitterSquare" size="2x"></fa-icon></a>
    </div>
    <div class="copyright-section">
      &copy;
      <span i18n>All rights reserved</span>
      <br>
      <span i18n>Images from </span><a href="https://unsplash.com/" class="footer-link">Unsplash</a> <span i18n> and </span> <a href="https://pixabay.com/" class="footer-link">Pixabay</a>
    </div>
  </div>
</footer>
