<footer class="footer">
  <ul class="row nav footer-nav">
    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h4>Terms & Conditions</h4>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Users</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Doctors</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Clinics</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Cookies</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">See More</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h4>Useful Links</h4>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/" class="footer-link">World Health Organization</a>
        </li>
        <li class="nav-item">
          <a href="https://www.vaccines.gov/" class="footer-link">Vaccines</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">About IHB</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">About Doctors</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h4>Regions</h4>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Africa</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Americas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Asia</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Europe</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Oceania</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h4>Support Us</h4>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">How to Help</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Make a Donation</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Become a Supporter</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Advertise Your Product</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="line-separator"></div>
  <div class="d-flex align-items-center flex-column pb-3 footer-bottom">
    <div class="social-media-section">
      <a href="https://www.facebook.com"><fa-icon [icon]="faFacebookSquare" class="mr-3" size="2x"></fa-icon></a>
      <a href="https://www.twitter.com"><fa-icon [icon]="faTwitterSquare" size="2x"></fa-icon></a>
    </div>
    <div class="copyright-section">
      &copy; All rights reserved
      <br>
      Images from <a href="https://unsplash.com/">Unsplash</a> and <a href="https://pixabay.com/">Pixabay</a>
    </div>
  </div>
</footer>
