<footer class="footer">
  <ul class="row nav footer-nav">
    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5>World Health Organization</h5>
        </li>
        <li class="nav-item">
          <a href="https://www.afro.who.int/" class="footer-link">Africa</a>
        </li>
        <li class="nav-item">
          <a href="https://www.paho.org/en" class="footer-link">Americas</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/southeastasia" class="footer-link">South-East Asia</a>
        </li>
        <li class="nav-item">
          <a href="http://www.euro.who.int/en/home" class="footer-link">Europe</a>
        </li>
        <li class="nav-item">
          <a href="http://www.emro.who.int/index.html" class="footer-link">Eastern Medditerranean</a>
        </li>
        <li class="nav-item">
          <a href="https://www.who.int/westernpacific" class="footer-link">Western Pacific</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5>Non-governmental Organizations</h5>
        </li>
        <li class="nav-item">
          <a href="https://doctorsoftheworld.org/" class="footer-link">Doctors of the World</a>
        </li>
        <li class="nav-item">
          <a href="https://www.msf.org/" class="footer-link">Doctors without Borders</a>
        </li>
        <li class="nav-item">
          <a href="https://www.icrc.org/en" class="footer-link">International Comittee of Red Cross</a>
        </li>
        <li class="nav-item">
          <a href="https://en.emergency.it/" class="footer-link">Emergency</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5>Regions</h5>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Africa</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Americas</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Asia</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Europe</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Oceania</a>
        </li>
      </ul>
    </li>

    <li class="col-md-6 col-sm-12">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h5>Support Us</h5>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">How to Help</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Make a Donation</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Become a Supporter</a>
        </li>
        <li class="nav-item">
          <a href="#" class="footer-link">Advertise Your Product</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="line-separator"></div>
  <div class="d-flex align-items-center flex-column pb-3 footer-bottom">
    <div class="social-media-section">
      <a href="https://www.facebook.com"><fa-icon [icon]="faFacebookSquare" class="mr-3" size="2x"></fa-icon></a>
      <a href="https://www.twitter.com"><fa-icon [icon]="faTwitterSquare" size="2x"></fa-icon></a>
    </div>
    <div class="copyright-section">
      &copy; All rights reserved
      <br>
      Images from <a href="https://unsplash.com/">Unsplash</a> and <a href="https://pixabay.com/">Pixabay</a>
    </div>
  </div>
</footer>
