.card {
  width: 410px;
  margin: auto;
  margin-top: 32px;
}

@media (max-width: 443px) {
  .card {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

.forgot-password-header {
  padding-top: 16px;
}

a {
  text-decoration: none;
}

.form-forgot {
  margin: 0 24px;
  padding-bottom: 28px;
}

.h3 {
  text-align: center;
}

p#subtitle {
  font-size: 0.9375rem;
}

.form-control, .btn-primary {
  border-radius: 1.5625em;
}

.text-danger {
  text-align: center;
  font-size: 80%;
}

.invalid-feedback {
  text-align: center;
}
