.forgot {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 7% 0;
}

.h3 {
  text-align: center;
}

p#subtitle {
  margin: auto;
  font-size: 15px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
