<div class="card text-center" >
  <div class="forgot-password-header">
    <h1 class="h3 mb-3 font-weight-normal" i18n>Forgot Password</h1>
    <hr>
  </div>
  <form class="form-forgot" [formGroup]="form" (submit)="onSubmit()" *ngIf="!success">
    <div class="forgot-password-subtitle text-left">
      <p id="subtitle" i18n>Enter the email address associated with your account.</p>
    </div>
    <div class="form-group">
      <label for="email" class="sr-only" id="emailLabel" i18n>Email</label>
      <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email" i18n-placeholder>
      <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('required')" i18n>Please provide an email.</div>
      <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('email')" i18n>Please provide a valid email.</div>
    </div>
    <p class="text-danger" *ngIf="form.hasError('invalidCredentials')" i18n>There is no account with this email</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit" i18n>Continue</button>
  </form>
  <div class="form-forgot" *ngIf="success">
    <p  style="text-align: justify" i18n>
      We have sent you an email containing instructions on how to activate your International Health Booklet account. If you can't find the email,
      wait for a few minutes or check the spam folder.
    </p>
    <a routerLink="/auth/login">
      <button type="button" class="btn btn-lg btn-primary btn-block" i18n>Login</button>
    </a>
  </div>
</div>
