<form class="forgot" [formGroup]="form" (ngSubmit)="onSubmit()"><!--action="index.html" method="post">-->
  <legend><h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1></legend>
  <p id="subtitle">Enter the email address associated with your account.</p>
  <div class="form-group">
    <label for="email" class="sr-only" id="emailLabel">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email" email="true" required
           formControlName="email" [ngClass]="{'is-invalid': validator(form.get('email'))}">
    <div class="invalid-feedback">Please provide an email.</div>
  </div>
  <a routerLink="../login">
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="isValid(form)">Continue</button>
  </a>
</form>
