<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1>Doctor</h1>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-lg mt-3">
            <label for="search">Search patient:</label>
            <input type="text" class="form-control" id="search" [formControl]="searchBox"/>
          </div>
          <div class="col-lg mt-3">
            <label for="countrySeelct">Select country:</label>
            <select class="form-control w-50" id="countrySeelct">
              <option selected>All</option>
              <option>Greece</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <table *ngIf="searchBox.value" class="table table-striped mt-3 table-responsive-lg">
      <thead>
      <tr>
        <th scope="col-lg">#</th>
        <th scope="col-lg">Full Name</th>
        <th scope="col-lg">SSNVS (Greece: ΑΜΚΑ)</th>
        <th scope="col-lg"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async; index as i">
        <th scope="row">{{i+1}}</th>
        <td><ngb-highlight [result]="patient.name" [term]="searchBox.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="patient.ssnvs.toString()" [term]="searchBox.value"></ngb-highlight></td>
        <td><a routerLink="../user"><button class="btn btn-primary">View</button></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
