<div class="card w-75 mt-3 mx-auto">
  <div class="card-body">
    <form>
      <div class="form-group form-inline">
        Search patient: <input class="form-control ml-2 w-50" type="text" [formControl]="filter"/>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">SSNVS (Greece: ΑΜΚΑ)</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients$ | async; index as i">
        <th scope="row">{{i+1}}</th>
        <td><ngb-highlight [result]="patient.name" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="patient.ssnvs" [term]="filter.value"></ngb-highlight></td>
        <td><a routerLink="../user"><button class="btn btn-primary">View</button></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
