<div class="card w-75 mt-3 mx-auto">
  <div class="card-header">
    <h1>Doctor</h1>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="row">
        <div class="col-lg mt-3">
          <label for="search">Search patient:</label>
          <input type="text" class="form-control" id="search" [formControl]="searchBox">
        </div>
        <div class="col-lg mt-3">
          <label for="countrySelect">Select country:</label>
          <select class="form-control w-50" id="countrySelect" [formControl]="country">
            <option [value]="null">All</option>
            <option>Greece</option>
          </select>
        </div>
      </div>
    </div>
    <table *ngIf="searchBox.value" class="table table-striped mt-3 table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">SSNVS</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of list;">
        <td><ngb-highlight [result]="user.firstName" [term]="searchBox.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.lastName" [term]="searchBox.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.ssnvs" [term]="searchBox.value"></ngb-highlight></td>
        <td><a routerLink="../user/{{user.userId}}"><button class="btn btn-primary">View</button></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
