<nav class="navbar sticky-top">
  <a routerLink=""><h1>ihb</h1></a>
  <ul class="nav nav-pills">
    <li ngbDropdown class="nav-item d-inline-block float-right" display="dynamic">
      <fa-icon [icon]="faUser" class="btn btn-outline-dark nav-item" id="dropdownMode" ngbDropdownToggle></fa-icon>
      <div ngbDropdownMenu>
        <a routerLink="user"><button class="btn-outline-dark" ngbDropdownItem>User</button></a>
        <a routerLink="doctor"><button class="btn-outline-dark" ngbDropdownItem>Doctor</button></a>
        <a routerLink="administrator"><button class="btn-outline-dark" ngbDropdownItem>Administrator</button></a>
        <div class="dropdown-divider"></div>
        <a routerLink="settings"><button class="btn-outline-dark" ngbDropdownItem>Settings</button></a>
        <a routerLink=""><button class="btn-outline-dark" ngbDropdownItem>Sign Out</button></a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
