<nav class="navbar sticky-top">
  <a routerLink="" class="mr-3"><img src="assets/img/front-page/png/logo.png" alt="ihb" class="logo"></a>
  <ul class="nav nav-pills">
    <a routerLink="notifications" class="mr-3"><fa-icon [icon]="faBell" class="btn btn-outline-dark nav-item"></fa-icon></a>
    <li ngbDropdown class="nav-item d-inline-block float-right" display="dynamic">
      <fa-icon [icon]="faUser" class="btn btn-outline-dark nav-item" id="dropdownMode" ngbDropdownToggle></fa-icon>
      <div ngbDropdownMenu>
        <a routerLink="user"><button class="btn-outline-dark" ngbDropdownItem>User</button></a>
        <a routerLink="doctor"><button class="btn-outline-dark" ngbDropdownItem>Doctor</button></a>
        <a routerLink="administrator"><button class="btn-outline-dark" ngbDropdownItem>Administrator</button></a>
        <div class="dropdown-divider"></div>
        <a routerLink="settings"><button class="btn-outline-dark" ngbDropdownItem>Settings</button></a>
        <button class="btn-outline-dark" ngbDropdownItem (click)="onLogout()">Sign Out</button>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
