/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  scroll-padding-top: 72px; /* height of sticky header */
}

.carousel-control-next, .carousel-control-prev {
  cursor: pointer;
}

.is-invalid~.invalid-feedback~.invalid-feedback,
.is-invalid~.invalid-tooltip~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip~.invalid-tooltip {
  display: none;
}

.ngb-toasts {
  margin-top: calc(.5em + 64px) !important;
}

.spinner-container {
  margin: 100px auto;
  display: block;
  width: fit-content;
}

.search-result-area-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1500;
}

.spinner {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
