<ihb-navbar></ihb-navbar>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img1.jpg" alt="Photo of a person in an airport.">
    </div>
    <div class="carousel-caption">
      <h3 i18n>International Travel</h3>
      <p i18n>Stay protected in the case of an emergency when travelling abroad.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img2.jpg" alt="Second slide">
    </div>
    <div class="carousel-caption">
      <h3 i18n>Doctors and Hospitals</h3>
      <p i18n>IHB empowers doctors and hospitals by giving them immediate access to patients' health records.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img3.jpg" alt="Third slide">
    </div>
    <div class="carousel-caption">
      <h3 i18n>Good Health and Well-Being</h3>
      <p i18n>IHB is a part of the "Sustainable Development Goals" initiative of the United Nations.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div *ngIf="!isAuthenticated(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4" i18n>Join IHB Now!</h1>
      <p class="lead" i18n>Patients, Doctors and Clinics can all use our free platform and be a step ahead in the case of an emergency.</p>
      <hr class="my-4">
      <p i18n>Create your account in just one minute. Only thing needed is a protocol.</p>
      <a routerLink="auth/register" class="btn btn-primary btn-lg" role="button" i18n>Register Now</a>
    </div>
  </div>        
</ng-template>
<ng-template #elseBlock>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4" i18n>Use IHB Now!</h1>
      <p class="lead" i18n>Patients, Doctors and Clinics can all use our free platform and be a step ahead in the case of an emergency.</p>
      <hr class="my-4">
      <p i18n>You already are a registered member of our platform.</p>
      <a routerLink="/dashboard/user" class="btn btn-primary btn-lg" role="button" i18n>Go to Dashboard</a>
    </div>
  </div>
</ng-template>



<div class="main-content-container">
  <div class="container-fluid">
    <div class="row content-section" id="about-us">
      <div class="col-md-6 col-sm-12">
        <h3 i18n>About Us</h3>
        <p i18n>
          International Health Booklet (IHB) was developed by 4 students of the Computer Science Department of the Aristotle University of Thessaloniki in 2020.
          It is a project developed in the context of the course "Web Information Systems" with Athena Vakali being the course coordinator.
        </p>
        <p i18n>
          IHB is a web application that aims to help the fulfillment of the 17 Sustainable Development Goals (SDGs) set in 2015 by the United Nations General Assembly.
          These are a collection of 17 global goals designed to be a "blueprint to achieve a better and more sustainable future for all" and are intended to be achieved by the year 2030.
          IHB has to do with the 3rd SDG which is "Good Health and Well-Being".
        </p>
        <p i18n>
          It is an international health booklet, as its name implies of course.
          Its purpose is to immediately inform medical organizations and doctors in the case of an emergency
          about a patients medical history.
          For example, if somebody travels either abroad or within his country and needs urgent medical help, health
          organizations and doctors will be able, using our platform, to have access to the patients medical history in order
          to nurse him more securely as they will have knowledge of the surgeries he has already had, his allergies etc.
          IHB is aimed to be used by civilians, doctors and health organizations and its administrators.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/about.jpg" class="body-image" alt="About image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="civilians">
      <div class="col-md-6 col-sm-12">
        <h3 i18n>Civilians</h3>
        <p i18n>
          This information system is aimed at every citizen, who want to have its medical booklet accessible anytime.
          This may often seem useful, because it is difficult enough to remember our medical history.
          In addition, sometimes we are not able to communicate with foreign people, so as to inform them about a medical problem that we have.
          It is very important for you to have valid and in time access to your health booklet,
          in order to avoid emerging situations and it can be used effectively, from doctors, for more accurate diagnoses.
        </p>
        <p i18n>
          Nowadays, during this pandemic period, this platform may seem to be more beneficial than ever for many people.
          Furthermore, you could be informed about the suggested vaccinations, which are recommended by <abbr title="European Centre for Disease Prevention and Control">ECDC</abbr>.
          You could also find useful links for the latest news of Coronavirus, general advices for precautions against potential hazards and international travel information.
        </p>
        <p i18n>
          It is worth mentioning that not every claiming doctor will have access to the medical history of a patient,
          but only those who have upload credentials to certify that they are authenticated doctors.
          All these measures are taken to ensure the protection of the data.
        </p>
        <p i18n>
          If you want any clarification or you have any additional question, you could use <a href="#contact">Contact</a> panel.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container" style="order: -1">
        <img src="assets/img/front-page/jpg/user.jpg" class="body-image" alt="User image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="hospitals">
      <div class="col-md-6 col-sm-12">
        <h3 i18n>Hospitals</h3>
        <p i18n>
          In today's world at least 400 million people have no basic healthcare, and 40 percent lack social protection.
          More than 1.6 billion people live in fragile settings where protracted crises, combined with weak national capacity to
          deliver basic health services, present a significant challenge to global health.
          In the fight to change this situation, hospitals need to play a major role.
          Hospitals matter to people – the hospital experience often marking a central point in their lives. They matter to health systems: they
          are instrumental for care coordination and integration and have a key role to play in supporting other health-care providers
          (including primary health care) and in community outreach and home-based services. They also often provide a setting for education
          of doctors, nurses and other health-care professionals and are a critical base for clinical research. They must be resilient and able
          to maintain and scale up services in emergency situations.
          Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of
          services for acute and complex conditions. Hospitals concentrate scarce resources within well-planned referral networks to respond
          efficiently to population health needs.
          Thus, International Health Booklet, an online system empowering doctors and hospitals around the world, can play a major role
          in order to achieve good health and well-being for people all around the world.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/hospitals.jpg" class="body-image" alt="Doctor image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="security">
      <div class="col-md-6 col-sm-12">
        <h3 i18n>Security</h3>
        <p i18n>
          Giving attention to the protection of our users' private health data, we store the data of our users on our own databases.
          We guarantee that saved data are not vulnerable to possible malicious attacks. A user can delete its medical archives,
          anytime he or she want, after this all the related information will be removed. We assure you that all those data will not be used from third parties.
          Authentication has a very important role for our platform, because it can ensure the protection of sensitive data.
        </p>
        <p i18n>
          Everybody can understand the importance of safekeeping their personal data,
          but sometimes platforms violate this by collecting or selling personal data.
          We consider this unacceptable and we do everything we can in order to ensure that nothing similar to that may happen.
        </p>
        <p i18n>
          We respect our users and recognize the value of their data, for that we will do anything we can in order to protect them.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container" style="order: -1">
        <img src="assets/img/front-page/jpg/security.jpg" class="body-image" alt="Security image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="contact">
      <div class="col-md-6 col-sm-12">
        <h3 i18n>Contact</h3>
        <form [formGroup]="contactForm" (submit)="onContactSubmit()">
          <div class="form-group">
            <h5 i18n>Email Address</h5>
            <label for="email" class="sr-only">Email:</label>
            <input type="email" id="email" class="form-control" autocomplete="email"
              formControlName="email">
            <div class="invalid-feedback" *ngIf="contactForm.get('email')?.hasError('required')" i18n>Please provide your email.</div>
            <div class="invalid-feedback" *ngIf="contactForm.get('email')?.hasError('email') || contactForm.get('email')?.hasError('isEmail')">Please provide a valid email.</div>

            <div class="mt-3">
              <h5 i18n>Subject</h5>
              <label for="subject" class="sr-only">Subject:</label>
              <input type="text" id="subject" class="form-control" formControlName="subject">
              <div class="invalid-feedback" *ngIf="contactForm.get('subject')?.hasError('required')" i18n>Please provide a subject.</div>
            </div>

            <div class="mt-3">
              <h5 i18n>Message</h5>
              <label for="message" class="sr-only">Message:</label>
              <textarea type="text" class="form-control" id="message" formControlName="message"></textarea>
              <div class="invalid-feedback" *ngIf="contactForm.get('message')?.hasError('required')" i18n>Please provide a message.</div>
            </div>

            <button type="submit" class="btn btn-dark mt-3" i18n>Send</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/contact.jpg" class="body-image" alt="Contact image">
      </div>
    </div>

  </div>
</div>

<ng-template #successToast i18n>
  Your message was sent successfully.
</ng-template>

<ihb-footer></ihb-footer>
<ihb-scroll-top></ihb-scroll-top>
