.carousel-image {
  height: calc(100vh - 64px);
  width: 100%;
}

.carousel-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.body-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .body-image-container {
    order: -1;
  }
}

.content-section {
  margin: 24px;
}

.line-separator {
  background-color: #343a40;
  height: 1px;
}

@media (min-width: 1500px) {
  .main-content-container {
    max-width: 1470px;
    margin: auto;
  }
}

.content-section p {
  text-align: justify;
}
