<ihb-navbar></ihb-navbar>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img1.jpg" alt="First slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img2.jpg" alt="Second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-image">
      <img src="assets/img/front-page/jpg/carousel-img3.jpg" alt="Third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Join IHB Now!</h1>
    <p class="lead">Patients, Doctors and Clinics can all use our free platform and be a step ahead in the case of an emergency.</p>
    <hr class="my-4">
    <p>Create your account in just one minute. Only thing needed is a protocol.</p>
    <a routerLink="auth/register" class="btn btn-primary btn-lg" role="button">Register Now</a>
  </div>
</div>

<div>
  <div class="container-fluid">
    <div class="row content-section" id="about-us">
      <div class="col-md-6 col-sm-12">
        <h3>About Us</h3>
        <p>
          International Health Booklet (IHB) was developed by 4 students of the Computer Science Department of the Aristotle University of Thessaloniki in 2020. It is a project developed in the context of the course "Web Information Systems" with Athena Vakali being the course coordinator.
          <br>
          IHB is a web application that aims to help the fulfillment of the 17 Sustainable Development Goals (SDGs) set in 2015 by the United Nations General Assembly. These are a collection of 17 global goals designed to be a "blueprint to achieve a better and more sustainable future for all" and are intended to be achieved by the year 2030. IHB has to do with the 4th SDG which is "Good Health and Well-Being". 
          <br>
          It is an international health booklet, as its name implies of course.
          Its purpose is to immediately inform medical organisations and doctors in the case of an emergency 
          about a patients medical history.
          For example, if somebody travels either abroad or within his country and needs urgent medical help, health
          organisations and doctors will be able, using our platform, to have access to the patients medical history in order
          to nurse him more securely as they will have knowledge of the surgeries he has already had, his allergies etc.
          IHB is aimed to be used by civilians, doctors and health organisations and its administrators.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/about.jpg" class="body-image" alt="About image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="user">
      <div class="col-md-6 col-sm-12">
        <h3>User</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin pellentesque neque vel placerat. Suspendisse massa leo, faucibus quis auctor ut, iaculis quis purus. Ut id mattis nunc. Sed in ligula enim. Etiam eget eleifend risus. Nullam vel interdum dui, a auctor ante. Nulla facilisi. Aliquam cursus lectus sed augue tincidunt lacinia.

          Duis rhoncus tristique imperdiet. Maecenas eu malesuada leo, nec varius lectus. Nam porta viverra tempor. Curabitur vel lacinia tortor. Etiam ut tincidunt ex, eget vehicula mi. Proin diam sem, auctor id efficitur at, feugiat sed mauris. Nunc luctus, justo ac ornare ultrices, urna orci pretium mauris, ac condimentum est velit in velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          Curabitur porttitor elit vitae felis egestas sollicitudin. Nulla tortor neque, rutrum ut magna aliquam, sagittis faucibus justo. Vivamus in ipsum odio. Donec facilisis pulvinar varius. Aenean vel vulputate urna. Proin justo augue, elementum non purus eget, efficitur laoreet magna. In magna nunc, pulvinar vestibulum dui non, tincidunt euismod nisl. Vivamus consequat, arcu nec tempus consectetur, est ligula maximus turpis, a imperdiet lorem neque eu ligula. Duis at neque vestibulum, tincidunt eros non, tincidunt tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container" style="order: -1">
        <img src="assets/img/front-page/jpg/user.jpg" class="body-image" alt="User image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="hospitals">
      <div class="col-md-6 col-sm-12">
        <h3>Hospitals</h3>
        <p>
          In today's world at least 400 million people have no basic healthcare, and 40 percent lack social protection.
          More than 1.6 billion people live in fragile settings where protracted crises, combined with weak national capacity to 
          deliver basic health services, present a significant challenge to global health.
          In the fight to change this situation, hospitals need to play a major role.
          Hospitals matter to people – the hospital experience often marking a central point in their lives. They matter to health systems: they 
          are instrumental for care coordination and integration and have a key role to play in supporting other health-care providers 
          (including primary health care) and in community outreach and home-based services. They also often provide a setting for education 
          of doctors, nurses and other health-care professionals and are a critical base for clinical research. They must be resilient and able 
          to maintain and scale up services in emergency situations.
          Hospitals complement and amplify the effectiveness of many other parts of the health system, providing continuous availability of 
          services for acute and complex conditions. Hospitals concentrate scarce resources within well-planned referral networks to respond 
          efficiently to population health needs.
          Thus, International Health Booklet, an online system empowering doctors and hospitals around the world, can play a major role 
          in order to acheive good health and well being for people all around the world.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/doctor.jpg" class="body-image" alt="Doctor image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="security">
      <div class="col-md-6 col-sm-12">
        <h3>Security</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin pellentesque neque vel placerat. Suspendisse massa leo, faucibus quis auctor ut, iaculis quis purus. Ut id mattis nunc. Sed in ligula enim. Etiam eget eleifend risus. Nullam vel interdum dui, a auctor ante. Nulla facilisi. Aliquam cursus lectus sed augue tincidunt lacinia.

          Duis rhoncus tristique imperdiet. Maecenas eu malesuada leo, nec varius lectus. Nam porta viverra tempor. Curabitur vel lacinia tortor. Etiam ut tincidunt ex, eget vehicula mi. Proin diam sem, auctor id efficitur at, feugiat sed mauris. Nunc luctus, justo ac ornare ultrices, urna orci pretium mauris, ac condimentum est velit in velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          Curabitur porttitor elit vitae felis egestas sollicitudin. Nulla tortor neque, rutrum ut magna aliquam, sagittis faucibus justo. Vivamus in ipsum odio. Donec facilisis pulvinar varius. Aenean vel vulputate urna. Proin justo augue, elementum non purus eget, efficitur laoreet magna. In magna nunc, pulvinar vestibulum dui non, tincidunt euismod nisl. Vivamus consequat, arcu nec tempus consectetur, est ligula maximus turpis, a imperdiet lorem neque eu ligula. Duis at neque vestibulum, tincidunt eros non, tincidunt tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container" style="order: -1">
        <img src="assets/img/front-page/jpg/security.jpg" class="body-image" alt="Security image">
      </div>
    </div>

    <div class="line-separator"></div>

    <div class="row content-section" id="contact">
      <div class="col-md-6 col-sm-12">
        <h3>Contact</h3>
        <form>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email">
            <label for="subject" class="mt-3">Subject:</label>
            <input type="text" class="form-control" id="subject">
            <label for="message" class="mt-3">Message:</label>
            <textarea type="text" class="form-control" id="message"></textarea>
            <button class="btn btn-dark mt-3">Send</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 col-sm-12 body-image-container">
        <img src="assets/img/front-page/jpg/contact.jpg" class="body-image" alt="Contact image">
      </div>
    </div>

  </div>
</div>
<ihb-footer></ihb-footer>
<ihb-scroll-top></ihb-scroll-top>
