<label class="mt-5" for="extraVaccinations"><b>Extra vaccinations</b></label>
<div class="row" id="extraVaccinations">
  <div class="col">
    <form [formGroup]="form" (submit)="onExtraVaccinationSubmit()">
      <ng-container *ngIf="!addExtraVaccination; then thenBlockForExtraVaccination else elseBlockForExtraVaccination"></ng-container>
      <ng-template #thenBlockForExtraVaccination>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" (click)="enableAddForm()">Add</button>
          </div>
        </div>
      </ng-template>
      <ng-template #elseBlockForExtraVaccination>
        <div class="form-group">
          <div class="row">
            <div class="col-lg mt-3">
              <label for="vaccinationName">Vaccination Name</label>
              <input type="text" class="form-control"
                id="vaccinationName" formControlName="name">
              <div class="invalid-feedback">Please provide a valid name.</div>
            </div>
            <div class="col-lg mt-3">
              <label for="vaccinationDate">Vaccination Date</label>
              <div class="input-group" id="vaccinationDate">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date"
                  ngbDatepicker #d="ngbDatepicker"
                >
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="d.toggle()">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                  </button>
                </div>
                <div class="invalid-feedback">Please provide a valid date.</div>
              </div>
            </div>
            <div class="col-lg mt-3">
              <label for="vaccinationDescription">Description</label>
              <textarea class="form-control" id="vaccinationDescription" formControlName="description"></textarea>
              <div class="invalid-feedback">Please provide a valid description.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg mt-3">
              <button type="submit" class="btn btn-success mr-3" [disabled]="form.invalid">Save</button>
              <button type="button" class="btn btn-primary mr-3" (click)="enableAddForm()">Close</button>
            </div>
          </div>
        </div>
      </ng-template>
    </form>
    <table class="table table-striped mt-3 table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vaccination Name</th>
        <th scope="col">Vaccination Date</th>
        <th scope="col">Description</th>
        <ng-container *ngIf="isDoctor">
          <th scope="col"></th>
          <th scope="col"></th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of extraVaccinationList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{vaccine.name}}</td>
          <td>{{vaccine.date}}</td>
          <td>{{vaccine.description}}</td>
          <ng-container *ngIf="isDoctor">
            <td><button type="button" class="btn btn-warning" (click)="setEditExtraVaccinationForm(vaccine)">Edit</button></td>
            <td><button type="button" class="btn badge-danger" (click)="onDeleteVaccination(vaccine)">Delete</button></td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="limit"
        [collectionSize]="count"
        (pageChange)="fetchCurrentPage()"></ngb-pagination>
    </div>
  </div>
</div>
